In [1]:
import pandas

In [2]:
data1 = pandas.read_excel('C:\\David\\MYX\\Data\\20080101-20131231.xlsx', 
                          header = 0, 
                          skiprows=[1,2],
                          converters={'Stkcd': '{:0>6}'.format})
data1 = data1[pandas.DatetimeIndex(data1['Accper']).month == 12]
data1.head()

    Stkcd Stknme      Accper Audittyp Adtremark  DadtunitID IadtunitID
1  000001   平安银行  2008-12-31  标准无保留意见       NaN    107023.0     107209
3  000001   平安银行  2009-12-31  标准无保留意见       NaN    107023.0     107209
5  000001   平安银行  2010-12-31  标准无保留意见       NaN    107023.0     107209
7  000001   平安银行  2011-12-31  标准无保留意见       NaN    107023.0        NaN
9  000001   平安银行  2012-12-31  标准无保留意见       NaN    107023.0     107209

In [3]:
print(min(data1.Accper))
print(max(data1.Accper))
print(len(data1))

2008-12-31
2013-12-31
12918

In [4]:
data2 = pandas.read_excel('C:\\David\\MYX\\Data\\20140101-20191231.xlsx',
                          header = 0, 
                          skiprows=[1,2],
                          converters={'Stkcd': '{:0>6}'.format})
data2 = data2[pandas.DatetimeIndex(data2['Accper']).month == 12]
data2.head()

    Stkcd Stknme      Accper Audittyp Adtremark DadtunitID IadtunitID
0  000001   平安银行  2014-12-31  标准无保留意见       NaN     107374        NaN
1  000001   平安银行  2015-12-31  标准无保留意见       NaN     107374        NaN
2  000001   平安银行  2016-12-31  标准无保留意见       NaN     107374        NaN
3  000001   平安银行  2017-12-31  标准无保留意见       NaN     107374        NaN
4  000001   平安银行  2018-12-31  标准无保留意见       NaN     107374        NaN

In [5]:
print(min(data2.Accper))
print(max(data2.Accper))
print(len(data2))

2014-12-31
2019-12-31
19564

In [6]:
final = data1.append(data2)
final.head()

    Stkcd Stknme      Accper Audittyp Adtremark DadtunitID IadtunitID
1  000001   平安银行  2008-12-31  标准无保留意见       NaN     107023     107209
3  000001   平安银行  2009-12-31  标准无保留意见       NaN     107023     107209
5  000001   平安银行  2010-12-31  标准无保留意见       NaN     107023     107209
7  000001   平安银行  2011-12-31  标准无保留意见       NaN     107023        NaN
9  000001   平安银行  2012-12-31  标准无保留意见       NaN     107023     107209

In [7]:
print(min(final.Accper))
print(max(final.Accper))
print(len(final))
print(len(data1) + len(data2))

2008-12-31
2019-12-31
32482
32482

In [8]:
data3 = pandas.read_excel('C:\\David\\MYX\\Data\\AF_Actual(20080101-20191231).xlsx',
                          header = 0, 
                          skiprows=[1,2],
                          converters={'Stkcd': '{:0>6}'.format})

data3.head()

,Stkcd,Ddate,Meps,Mpe,Mnetpro,Mebit,BPS,ROA,ROE,TotalAssetsTurnover
0,000001,2008-12-31,0.20,47.843210,6.140350e+08,NaN,5.281320,0.001294,0.037439,0.028588
1,000001,2009-12-31,1.62,15.043431,5.030729e+09,NaN,6.591545,0.008558,0.245766,0.024317
2,000001,2010-12-31,1.91,8.757158,6.283816e+09,NaN,9.525797,0.008641,0.189286,0.024150
3,000001,2011-12-31,2.47,7.687127,1.039049e+10,NaN,14.713144,0.008258,0.137840,0.023119
4,000001,2012-12-31,2.62,6.074858,1.351078e+10,1.755092e+10,16.551431,0.008410,0.159328,0.024221

In [9]:
data3.rename(columns={'Ddate': 'Accper'}, inplace=True)
data3 = data3[pandas.DatetimeIndex(data3['Accper']).month == 12]
print(min(data3.Accper))
print(max(data3.Accper))
print(len(data3))

2008-12-31
2019-12-31
28375

In [10]:
final = pandas.merge(final, data3,  how='outer', on = ['Stkcd', 'Accper'], indicator='AF_Actual(20080101-20191231)')
final.head()

,Stkcd,Stknme,Accper,Audittyp,Adtremark,DadtunitID,IadtunitID,Meps,Mpe,Mnetpro,Mebit,BPS,ROA,ROE,TotalAssetsTurnover,AF_Actual(20080101-20191231)
0,000001,平安银行,2008-12-31,标准无保留意见,NaN,107023,107209,0.20,47.843210,6.140350e+08,NaN,5.281320,0.001294,0.037439,0.028588,both
1,000001,平安银行,2009-12-31,标准无保留意见,NaN,107023,107209,1.62,15.043431,5.030729e+09,NaN,6.591545,0.008558,0.245766,0.024317,both
2,000001,平安银行,2010-12-31,标准无保留意见,NaN,107023,107209,1.91,8.757158,6.283816e+09,NaN,9.525797,0.008641,0.189286,0.024150,both
3,000001,平安银行,2011-12-31,标准无保留意见,NaN,107023,NaN,2.47,7.687127,1.039049e+10,NaN,14.713144,0.008258,0.137840,0.023119,both
4,000001,平安银行,2012-12-31,标准无保留意见,NaN,107023,107209,2.62,6.074858,1.351078e+10,1.755092e+10,16.551431,0.008410,0.159328,0.024221,both

In [11]:
print(min(final.Accper))
print(max(final.Accper))
print(len(final))
print(len(data1) + len(data2))

2008-12-31
2019-12-31
32567
32482

In [12]:
data4 = pandas.read_excel('C:\\David\\MYX\\Data\\AF_CFEATUREPROFILE(20080101-20191231).xlsx',
                          header = 0, 
                          skiprows=[1,2],
                          converters={'Stkcd': '{:0>6}'.format})
data4 = data4[pandas.DatetimeIndex(data4['Accper']).month == 12]
data4.head()

,Stknmec,Stkcd,Accper,CompanySize,Big4,Outside,CompanyOpacity,RegisterCapital
0,深发展A,000001,2008-12-31,3.525394e+11,Y,Y,B,5.123350e+09
1,深发展A,000001,2009-12-31,4.744402e+11,Y,Y,B,5.123350e+09
2,深发展A,000001,2010-12-31,5.878110e+11,Y,Y,B,5.123350e+09
3,深发展A,000001,2011-12-31,7.272071e+11,Y,Y,A,5.123350e+09
4,平安银行,000001,2012-12-31,1.258177e+12,Y,Y,A,5.123350e+09

In [13]:
final = pandas.merge(final, data4,  
                     how='outer', 
                     on = ['Stkcd', 'Accper'], 
                     indicator='AF_CFEATUREPROFILE(20080101-20191231)')
final.head()

,Stkcd,Stknme,Accper,Audittyp,Adtremark,DadtunitID,IadtunitID,Meps,Mpe,Mnetpro,...,ROE,TotalAssetsTurnover,AF_Actual(20080101-20191231),Stknmec,CompanySize,Big4,Outside,CompanyOpacity,RegisterCapital,AF_CFEATUREPROFILE(20080101-20191231)
0,000001,平安银行,2008-12-31,标准无保留意见,NaN,107023,107209,0.20,47.843210,6.140350e+08,...,0.037439,0.028588,both,深发展A,3.525394e+11,Y,Y,B,5.123350e+09,both
1,000001,平安银行,2009-12-31,标准无保留意见,NaN,107023,107209,1.62,15.043431,5.030729e+09,...,0.245766,0.024317,both,深发展A,4.744402e+11,Y,Y,B,5.123350e+09,both
2,000001,平安银行,2010-12-31,标准无保留意见,NaN,107023,107209,1.91,8.757158,6.283816e+09,...,0.189286,0.024150,both,深发展A,5.878110e+11,Y,Y,B,5.123350e+09,both
3,000001,平安银行,2011-12-31,标准无保留意见,NaN,107023,NaN,2.47,7.687127,1.039049e+10,...,0.137840,0.023119,both,深发展A,7.272071e+11,Y,Y,A,5.123350e+09,both
4,000001,平安银行,2012-12-31,标准无保留意见,NaN,107023,107209,2.62,6.074858,1.351078e+10,...,0.159328,0.024221,both,平安银行,1.258177e+12,Y,Y,A,5.123350e+09,both

In [14]:
print(min(final.Accper))
print(max(final.Accper))
print(len(final))

2008-12-31
2019-12-31
32644

In [15]:
data5 = pandas.read_excel('C:\\David\\MYX\\Data\\FI_T1(20080101-20191231).xlsx',
                          header = 0, 
                          skiprows=[1,2],
                          converters={'Stkcd': '{:0>6}'.format})
data5 = data5[pandas.DatetimeIndex(data5['Accper']).month == 12]
data5 = data5[data5['Typrep'] == 'A']
data5.head()

,Stkcd,Accper,Typrep,Indcd,F010101A,F010401A,F010601A,F010801B,F011201A,F012501B
3,000001,2008-12-31,A,J66,NaN,NaN,NaN,NaN,0.965431,0.942320
7,000001,2009-12-31,A,J66,NaN,NaN,NaN,NaN,0.965177,0.886752
11,000001,2010-12-31,A,J66,NaN,NaN,NaN,NaN,0.954349,0.929486
17,000001,2011-12-31,A,J66,NaN,NaN,NaN,NaN,0.940087,0.938057
24,000001,2012-12-31,A,J66,NaN,NaN,0.0,NaN,0.947216,0.948190

In [16]:
print(min(data5.Accper))
print(max(data5.Accper))
print(len(data5))

2008-12-31
2019-12-31
32484

In [17]:
final = pandas.merge(data5, final, 
                     how='outer', 
                     on = ['Stkcd', 'Accper'], 
                     indicator='FI_T1(20080101-20191231)')
final.head()

,Stkcd,Accper,Typrep,Indcd,F010101A,F010401A,F010601A,F010801B,F011201A,F012501B,...,TotalAssetsTurnover,AF_Actual(20080101-20191231),Stknmec,CompanySize,Big4,Outside,CompanyOpacity,RegisterCapital,AF_CFEATUREPROFILE(20080101-20191231),FI_T1(20080101-20191231)
0,000001,2008-12-31,A,J66,NaN,NaN,NaN,NaN,0.965431,0.942320,...,0.028588,both,深发展A,3.525394e+11,Y,Y,B,5.123350e+09,both,both
1,000001,2009-12-31,A,J66,NaN,NaN,NaN,NaN,0.965177,0.886752,...,0.024317,both,深发展A,4.744402e+11,Y,Y,B,5.123350e+09,both,both
2,000001,2010-12-31,A,J66,NaN,NaN,NaN,NaN,0.954349,0.929486,...,0.024150,both,深发展A,5.878110e+11,Y,Y,B,5.123350e+09,both,both
3,000001,2011-12-31,A,J66,NaN,NaN,NaN,NaN,0.940087,0.938057,...,0.023119,both,深发展A,7.272071e+11,Y,Y,A,5.123350e+09,both,both
4,000001,2012-12-31,A,J66,NaN,NaN,0.0,NaN,0.947216,0.948190,...,0.024221,both,平安银行,1.258177e+12,Y,Y,A,5.123350e+09,both,both

In [18]:
print(min(final.Accper))
print(max(final.Accper))
print(len(final))

2008-12-31
2019-12-31
32644

In [19]:
data6 = pandas.read_excel('C:\\David\\MYX\\Data\\FS_Comins(20080101-20191231).xlsx',
                          header = 0, 
                          skiprows=[1,2],
                          converters={'Stkcd': '{:0>6}'.format})
data6 = data6[pandas.DatetimeIndex(data6['Accper']).month == 12]
data6 = data6[data6['Typrep'] == 'A']
data6.head()

,Stkcd,Accper,Typrep,B001100000,B001101000,B001000000,B002000000
4,000001,2008-12-31,A,1.356322e+10,NaN,7.926090e+08,6.140350e+08
9,000001,2009-12-31,A,1.429386e+10,0.0,6.190537e+09,5.030729e+09
14,000001,2010-12-31,A,1.756183e+10,NaN,7.998021e+09,6.283816e+09
22,000001,2011-12-31,A,2.908733e+10,NaN,1.325749e+10,1.039049e+10
32,000001,2012-12-31,A,3.891140e+10,NaN,1.755092e+10,1.351078e+10

In [20]:
final = pandas.merge(data6, final, 
                     how='outer', 
                     on = ['Stkcd', 'Accper', 'Typrep'], 
                     indicator='FS_Comins(20080101-20191231)')
final.head()

,Stkcd,Accper,Typrep,B001100000,B001101000,B001000000,B002000000,Indcd,F010101A,F010401A,...,AF_Actual(20080101-20191231),Stknmec,CompanySize,Big4,Outside,CompanyOpacity,RegisterCapital,AF_CFEATUREPROFILE(20080101-20191231),FI_T1(20080101-20191231),FS_Comins(20080101-20191231)
0,000001,2008-12-31,A,1.356322e+10,NaN,7.926090e+08,6.140350e+08,J66,NaN,NaN,...,both,深发展A,3.525394e+11,Y,Y,B,5.123350e+09,both,both,both
1,000001,2009-12-31,A,1.429386e+10,0.0,6.190537e+09,5.030729e+09,J66,NaN,NaN,...,both,深发展A,4.744402e+11,Y,Y,B,5.123350e+09,both,both,both
2,000001,2010-12-31,A,1.756183e+10,NaN,7.998021e+09,6.283816e+09,J66,NaN,NaN,...,both,深发展A,5.878110e+11,Y,Y,B,5.123350e+09,both,both,both
3,000001,2011-12-31,A,2.908733e+10,NaN,1.325749e+10,1.039049e+10,J66,NaN,NaN,...,both,深发展A,7.272071e+11,Y,Y,A,5.123350e+09,both,both,both
4,000001,2012-12-31,A,3.891140e+10,NaN,1.755092e+10,1.351078e+10,J66,NaN,NaN,...,both,平安银行,1.258177e+12,Y,Y,A,5.123350e+09,both,both,both

In [21]:
print(min(final.Accper))
print(max(final.Accper))
print(len(final))

2008-12-31
2019-12-31
33681

In [22]:
data7 = pandas.read_excel('C:\\David\\MYX\\Data\\Response_Variable.xlsx',
                          header = 0, 
                          skiprows=[1],
                          converters={'Scode': '{:0>6}'.format})
# data6 = data6[pandas.DatetimeIndex(data6['Accper']).month == 12]
data7 = data7[data7['Year'] != 2007]
data7.rename(columns={'Scode': 'Stkcd'}, inplace=True)
data7.head()

,Stkcd,Year,WordNum,VocabularyNum,SentenceNum,LM_positive,LM_negative,Ntusd_Positive,Ntusd_Negative,LM_Tone1,LM_Tone2,Ntusd_Tone
1,000001,2008,218589,62410,1629,3828,3529,4021,1543,0.00479,0.04064,0.44536
2,000001,2009,233098,66655,1758,4111,3897,4467,1607,0.00321,0.02672,0.47086
3,000001,2010,237743,68961,2035,4535,4064,4896,1584,0.00683,0.05477,0.51111
4,000001,2011,309276,86172,2636,5772,4817,6334,1944,0.01108,0.09019,0.53032
5,000001,2012,293935,82365,2273,5216,4963,6116,1999,0.00307,0.02486,0.50733

In [23]:
final['Year'] = pandas.DatetimeIndex(final['Accper']).year
final = pandas.merge(data7, final, 
                     how='outer', 
                     on = ['Stkcd', 'Year'], 
                     indicator='Response_Variable')
final.head()

,Stkcd,Year,WordNum,VocabularyNum,SentenceNum,LM_positive,LM_negative,Ntusd_Positive,Ntusd_Negative,LM_Tone1,...,Stknmec,CompanySize,Big4,Outside,CompanyOpacity,RegisterCapital,AF_CFEATUREPROFILE(20080101-20191231),FI_T1(20080101-20191231),FS_Comins(20080101-20191231),Response_Variable
0,000001,2008,218589.0,62410.0,1629.0,3828.0,3529.0,4021.0,1543.0,0.00479,...,深发展A,3.525394e+11,Y,Y,B,5.123350e+09,both,both,both,both
1,000001,2009,233098.0,66655.0,1758.0,4111.0,3897.0,4467.0,1607.0,0.00321,...,深发展A,4.744402e+11,Y,Y,B,5.123350e+09,both,both,both,both
2,000001,2010,237743.0,68961.0,2035.0,4535.0,4064.0,4896.0,1584.0,0.00683,...,深发展A,5.878110e+11,Y,Y,B,5.123350e+09,both,both,both,both
3,000001,2011,309276.0,86172.0,2636.0,5772.0,4817.0,6334.0,1944.0,0.01108,...,深发展A,7.272071e+11,Y,Y,A,5.123350e+09,both,both,both,both
4,000001,2012,293935.0,82365.0,2273.0,5216.0,4963.0,6116.0,1999.0,0.00307,...,平安银行,1.258177e+12,Y,Y,A,5.123350e+09,both,both,both,both

In [24]:
print(min(final.Year))
print(max(final.Year))
print(len(final))

2008
2019
33682

In [26]:
import numpy
clean = final.copy()
clean['y'] = [1.0 if i == '标准无保留意见' else 0.0 for i in final['Audittyp']]
clean.head()

# Cannot add Stkcd for some reason...
formula = 'y ~ Year + WordNum + VocabularyNum + SentenceNum + \
            LM_positive + LM_negative + Ntusd_Positive + Ntusd_Negative + \
            LM_Tone1 + LM_Tone2 + Ntusd_Tone + B001100000  + \
            B001101000 + B001000000 + B002000000 + F010101A + \
            F010401A + F010601A + F010801B + F011201A + F012501B + \
            Meps + Mpe + Mnetpro + Mebit + BPS + ROA + ROE + \
            TotalAssetsTurnover + CompanySize + RegisterCapital'

In [27]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

mod1 = smf.glm(formula=formula, data=clean, family=sm.families.Binomial()).fit()
print(mod1.summary())

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:894: RuntimeWarning: invalid value encountered in true_divide
  n_endog_mu = self._clean((1. - endog) / (1. - mu))

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                24044
Model:                            GLM   Df Residuals:                    24024
Model Family:                Binomial   Df Model:                           19
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                    nan
Date:                Tue, 20 Apr 2021   Deviance:                          nan
Time:                        23:05:50   Pearson chi2:                 4.79e+04
No. Iterations:                   100
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept             -98.0555     71.690     -1.368      0.171    -238.566      42.455
Year                    0.0515      0.035      1.452      0.146      -0.018       0.121
WordNum              3.606e-06   2.32e-06      1.554      0.120   -9.43e-07    8.15e-06
VocabularyNum        8.552e-05   2.95e-05      2.897      0.004    2.77e-05       0.000
SentenceNum         -8.378e-05      0.000     -0.656      0.512      -0.000       0.000
LM_positive             0.0002      0.001      0.279      0.780      -0.001       0.001
LM_negative            -0.0012      0.001     -2.305      0.021      -0.002      -0.000
Ntusd_Positive      -8.414e-05      0.000     -0.216      0.829      -0.001       0.001
Ntusd_Negative         -0.0013      0.001     -1.469      0.142      -0.003       0.000
LM_Tone1               86.2204    107.298      0.804      0.422    -124.081     296.521
LM_Tone2               -7.1643     14.296     -0.501      0.616     -35.185      20.856
Ntusd_Tone             -3.7666      3.076     -1.224      0.221      -9.796       2.263
B001100000          -4.188e-11    6.4e-10     -0.065      0.948    -1.3e-09    1.21e-09
B001101000           2.191e-11    6.4e-10      0.034      0.973   -1.23e-09    1.28e-09
B001000000           4.682e-10   9.06e-10      0.517      0.605   -1.31e-09    2.24e-09
B002000000             -0.0008      0.001     -0.797      0.425      -0.003       0.001
F010101A                0.1085      0.063      1.730      0.084      -0.014       0.231
F010401A               -0.1170      0.096     -1.216      0.224      -0.306       0.072
F010601A            -2.054e-11    1.9e-11     -1.084      0.278   -5.77e-11    1.66e-11
F010801B                0.3379      0.153      2.214      0.027       0.039       0.637
F011201A               -2.9879      0.609     -4.909      0.000      -4.181      -1.795
F012501B                3.2475      0.563      5.768      0.000       2.144       4.351
Meps                    0.5029      0.409      1.228      0.219      -0.300       1.305
Mpe                 -2.345e-06   7.83e-06     -0.300      0.764   -1.77e-05     1.3e-05
Mnetpro                 0.0008      0.001      0.797      0.425      -0.001       0.003
Mebit               -7.671e-10   3.62e-10     -2.121      0.034   -1.48e-09   -5.84e-11
BPS                     0.1670      0.045      3.749      0.000       0.080       0.254
ROA                     0.0464      1.976      0.023      0.981      -3.827       3.920
ROE                    -0.1558      0.455     -0.342      0.732      -1.048       0.736
TotalAssetsTurnover     0.5159      0.165      3.132      0.002       0.193       0.839
CompanySize          1.391e-11   9.76e-12      1.425      0.154   -5.22e-12     3.3e-11
RegisterCapital      7.579e-12   4.67e-11      0.162      0.871   -8.39e-11    9.91e-11
=======================================================================================

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:946: RuntimeWarning: divide by zero encountered in true_divide
  special.gammaln(n - y + 1) + y * np.log(mu / (1 - mu)) +
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:947: RuntimeWarning: divide by zero encountered in log
  n * np.log(1 - mu)) * var_weights
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:947: RuntimeWarning: invalid value encountered in add
  n * np.log(1 - mu)) * var_weights

In [28]:
clean.to_excel('C:\\David\\MYX\\Data\\clean_file_for_regression_V2.xlsx', index = False)

### Update April 21, 2021
- More cleaning was applied

In [4]:
import pandas
clean_data_v2 =  pandas.read_excel('C:\\David\\MYX\\Data\\clean_file_for_regression_V2 1 1.xlsx',
                          header = 0)
clean_data_v2.head(3)

,Stkcd,Year,WordNum,VocabularyNum,SentenceNum,LM_positive,LM_negative,Ntusd_Positive,Ntusd_Negative,LM_Tone1,...,Big4,Outside,CompanyOpacity,RegisterCapital,AF_CFEATUREPROFILE(20080101-20191231),FI_T1(20080101-20191231),FS_Comins(20080101-20191231),Response_Variable,y,所属行业
0,2,2008,229010.0,53802.0,1503.0,3541.0,2885.0,4185.0,950.0,0.01219,...,Y,N,A,1.099521e+10,both,both,both,both,1,房地产(申万)
1,2,2009,248196.0,59843.0,1527.0,3879.0,3196.0,4322.0,1054.0,0.01141,...,Y,N,A,1.099521e+10,both,both,both,both,1,房地产(申万)
2,2,2010,269832.0,62707.0,1486.0,4179.0,3428.0,4585.0,976.0,0.01198,...,Y,N,A,1.099521e+10,both,both,both,both,1,房地产(申万)

In [5]:
formula = 'y ~ Year + WordNum + VocabularyNum + SentenceNum + \
            LM_positive + LM_negative + Ntusd_Positive + Ntusd_Negative + \
            LM_Tone1 + LM_Tone2 + Ntusd_Tone + B001100000  + \
            B001101000 + B001000000 + B002000000 + F010101A + \
            F010401A + F010601A + F010801B + F011201A + F012501B + \
            Meps + Mpe + Mnetpro + Mebit + BPS + ROA + ROE + \
            TotalAssetsTurnover + CompanySize + RegisterCapital'
import statsmodels.formula.api as smf
import statsmodels.api as sm

mod1 = smf.glm(formula=formula, data=clean_data_v2, family=sm.families.Binomial()).fit()
print(mod1.summary())

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:894: RuntimeWarning: invalid value encountered in true_divide
  n_endog_mu = self._clean((1. - endog) / (1. - mu))

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                22725
Model:                            GLM   Df Residuals:                    22705
Model Family:                Binomial   Df Model:                           19
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                    nan
Date:                Wed, 21 Apr 2021   Deviance:                          nan
Time:                        15:34:31   Pearson chi2:                 6.22e+04
No. Iterations:                   100
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept            -129.8308     80.954     -1.604      0.109    -288.497      28.835
Year                    0.0668      0.040      1.668      0.095      -0.012       0.145
WordNum              1.407e-06   2.49e-06      0.564      0.573   -3.48e-06     6.3e-06
VocabularyNum        8.146e-05   3.29e-05      2.473      0.013    1.69e-05       0.000
SentenceNum         -8.321e-05      0.000     -0.674      0.500      -0.000       0.000
LM_positive             0.0003      0.001      0.484      0.628      -0.001       0.002
LM_negative            -0.0013      0.001     -2.237      0.025      -0.002      -0.000
Ntusd_Positive         -0.0002      0.000     -0.455      0.649      -0.001       0.001
Ntusd_Negative         -0.0007      0.001     -0.704      0.481      -0.003       0.001
LM_Tone1              126.0815    119.393      1.056      0.291    -107.925     360.088
LM_Tone2              -14.0933     15.911     -0.886      0.376     -45.277      17.091
Ntusd_Tone             -1.5918      3.463     -0.460      0.646      -8.378       5.195
B001100000           2.907e-09   1.93e-09      1.504      0.133   -8.81e-10    6.69e-09
B001101000          -2.934e-09   1.93e-09     -1.518      0.129   -6.72e-09    8.55e-10
B001000000           1.801e-10   1.17e-09      0.154      0.878   -2.11e-09    2.47e-09
B002000000              0.0652      0.062      1.054      0.292      -0.056       0.187
F010101A                0.1273      0.085      1.501      0.133      -0.039       0.294
F010401A               -0.1231      0.115     -1.072      0.284      -0.348       0.102
F010601A            -2.507e-11   2.46e-11     -1.020      0.308   -7.32e-11    2.31e-11
F010801B               -0.0114      0.235     -0.049      0.961      -0.472       0.449
F011201A               -3.0524      0.731     -4.173      0.000      -4.486      -1.619
F012501B                3.6079      0.671      5.380      0.000       2.294       4.922
Meps                    0.7071      0.622      1.137      0.256      -0.512       1.926
Mpe                 -1.873e-06   8.04e-06     -0.233      0.816   -1.76e-05    1.39e-05
Mnetpro                -0.0652      0.062     -1.054      0.292      -0.187       0.056
Mebit               -5.898e-10   4.43e-10     -1.332      0.183   -1.46e-09    2.78e-10
BPS                     0.1562      0.056      2.772      0.006       0.046       0.267
ROA                     3.2137      4.142      0.776      0.438      -4.904      11.332
ROE                    -0.0801      0.536     -0.149      0.881      -1.130       0.970
TotalAssetsTurnover     0.5305      0.186      2.851      0.004       0.166       0.895
CompanySize          2.145e-11   1.24e-11      1.735      0.083   -2.78e-12    4.57e-11
RegisterCapital     -2.559e-11   6.47e-11     -0.395      0.693   -1.52e-10    1.01e-10
=======================================================================================

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:946: RuntimeWarning: divide by zero encountered in true_divide
  special.gammaln(n - y + 1) + y * np.log(mu / (1 - mu)) +
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:947: RuntimeWarning: divide by zero encountered in log
  n * np.log(1 - mu)) * var_weights
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\genmod\families\family.py:947: RuntimeWarning: invalid value encountered in add
  n * np.log(1 - mu)) * var_weights